@{

    <!DOCTYPE html>
    <html>
    <head>
        <title>Реєстрація</title>
    </head>
    <body>
        <h2>Ви успішно пройшли реєстрацію на консультацію!</h2>
        <p>Дякуємо вам!. Залишайтеся з нами!</p>
    </body>
    </html>
}
